@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-black: #0e0816;
    --color-white: #ebe4f7;
    --color-primary: #431f75;
    --color-secondary: #a77de3;
    --color-accent: #6e20d9;

    --font-daydream: 'Daydream', 'sans-serif';
}

@font-face {
    font-family: Daydream;
    src: url("~public/Daydream.ttf") format("truetype");
}
