@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* icy color scheme
    --color-navy: #0c172c;
    --color-blue: #276ca0;
    --color-secondary: #273e8b;
    --color-light-blue: #74cae2;
    --color-white: #e9fbfb; */

    /* donatello color scheme
    --color-d-black: #0e0b13;
    --color-d-white: #f5f2f7;
    --color-d-dark-purple: #433456;
    --color-d-light-purple: #b8a9cb;
    --color-d-green: #b7c49c;
    --color-d-purple: #7b1efe;  */

    /* light mode colors */
    --color-black: #0e0816;
    --color-white: #ebe4f7;
    --color-primary: #431f75;
    --color-secondary: #a77de3;
    --color-accent: #5e01df;

    /* dark mode colors */
    --color-black-dark: #0f081b;
    --color-white-dark: #efe9f7;
    --color-primary-dark: #ae8ae0;
    --color-secondary-dark: #461c82;
    --color-accent-dark: #7c20fe;
}
